
<!DOCTYPE html>
<html lang="en">
{% load url from future %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}TicketTeco{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Rodrigo" >

    <!-- Le styles -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/ticketteco.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5.js"></script>
    <![endif]-->

    {% block extrahead %}
    {% endblock %}

    <script type="text/javascript">
        $(function(){
            {% block jquery %}
            {% endblock %}
        });
    </script>


</head>

<body>


<div class="idusuario">

    {% if request.user.is_authenticated %}
        <button class="btn  btn-success disabled" disabled="disabled" type="button"> Olá  {{ request.user.get_short_name }} </button>
        <a class="btn  btn-primary" type="button" href="{% url 'alteracao' %}">Alterar Cadastro</a>
        <a class="btn btn-primary" type="button" href="{% url 'meus_pedidos' %}">Meus Pedidos</a>
        <a class="btn  btn-inverse" type="button" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="btn  btn-primary" type="button" href="{% url 'login' %}">Login</a>
        <a class="btn btn-primary" type="button" href="{% url 'meus_pedidos' %}">Meus Pedidos</a>
    {% endif %}

</div>

<div class="container">

    <div class="masthead">

        <a href="/"><img src="{{  MEDIA_URL }}img/logo.png"/></a>
        <h3 class="muted">TicketTeco</h3>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{% url 'index' %}"><i class="icon-home"></i> Home</a></li>
                        <li><a href="{% url 'catalogo' %}"><i class="icon-list"></i> Catálogo</a></li>
                        <li><a href="{% url 'carrinho' %}"><i class="icon-shopping-cart"></i> Carrinho</a></li>

                    </ul>
                </div>
            </div>
        </div><!-- /.navbar -->
    </div>

    <form class="form-search" action="{% url 'busca' %}">
        <div class="input-append">
            <input type="text" class="span2 search-query" name="chave">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
    </form>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}

    <hr>

    <div class="footer">
        <div class="registrado">
            <b><p>&copy; Ticket Teco 2013</p><b>
        </div>
    </div>
</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src= "{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
<script src= "{{ STATIC_URL }}js/jquery.formset.js"></script>
<script src= "{{ STATIC_URL }}js/jquery.formset.min.js"></script>
<script src= "{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
<script src= "{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>

{% block extrabody %}
{% endblock %}

</body>
</html>
