{% extends "tt/base.html" %}

{% block title %}Cadastro de Usuário - {{ block.super }}{% endblock %}

{% block content %}

<h1>Cadastrar conta</h1>

{% if not user.is_authenticated %}

<form method="post" action=".">{% csrf_token %}

    <p class="texto_grande"><strong>Dados Pessoais:</strong></p>

    <table>
        {{ form }}
    </table>

    <p class="texto_grande"><strong>Endereço:</strong></p>

    <table>
        {{ form_end }}
    </table>

    <p class="submit">
        <input type="submit" value="Salvar" />
        <input type="hidden" name="next" value="{{ next }}" />
    </p>
</form>

<p class="register">
    Já cadastrado? <a href="{% url 'login' %}">Faça o login</a>
</p>

{% else %}

<p class="register">
    Você está logado. Para cadastrar uma nova conta, primeiro faça o <a href="{% url 'logout' %}">logout</a>
</p>

{% endif %}

{% endblock %}