{% extends "tt/base.html" %}

{% block title %}Catálogo - {{ block.super }}{% endblock %}

{% block content %}


    <h5>Próximos Eventos</h5>

    <div class="row-fluid">
        <ul class="thumbnails">
            {% for p in proximos %}
                <li class="span2">
                    <div class="thumbnail">
                        <a href="{{ p.get_absolute_url }}"><img src="{{  MEDIA_URL }}{{ p.thumb }}" class="img-polaroid" alt=""></a>
                        <div class="text-center">
                            <h6>{{ p.nome }}</h6>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <h1>Catálogo</h1>

    <div class="row-fluid">

        <ul class="thumbnails">

            {% for c in categorias %}
                <li class="span4">
                    <div class="thumbnail">
                        <a href="{{ c.get_absolute_url }}"><img src="{{  MEDIA_URL }}{{ c.foto }}" class="img-polaroid" alt=""></a>
                        <div class="caption">
                            <h4>{{ c.nome }}</h4>

                            <p><a href="{{ c.get_absolute_url }}" class="btn btn-primary">Detalhes</a> </p>
                        </div>
                    </div>
                </li>
            {% endfor %}

        </ul>

    </div>

    <h5>Últimos Ingressos!</h5>

    <div class="row-fluid">

        <ul class="thumbnails">

            {% for u in ultimos %}
                <li class="span2">
                    <div class="thumbnail">
                        <a href="{{ u.get_absolute_url }}"><img src="{{  MEDIA_URL }}{{ u.thumb }}" class="img-polaroid" alt=""></a>
                        <div class="text-center">
                            <h6>{{ u.nome }}</h6>
                        </div>
                    </div>
                </li>
            {% endfor %}

        </ul>

    </div>

{% endblock %}
