{% extends "tt/base.html" %}

{% block title %}Checkout - {{ block.super }}{% endblock %}

{% block content %}

<form method="post" action=".">{% csrf_token %}

<h1>Verifique se os dados estão corretos </h1>
<hr>

<h3><strong>Cliente:</strong></h3>
<table class="table table-striped">
    <tr>
        <th> E-mail </th>
        <td>{{ request.user.email }}</td>
    </tr>
    <tr>
        <th> Nome Completo </th>
        <td>{{ request.user.nome }}</td>
    </tr>
    <tr>
        <th> CPF </th>
        <td>{{ request.user.cpf }}</td>
    </tr>
    <tr>
        <th> Telefone </th>
        <td>{{ request.user.telefone }}</td>
    </tr>
</table>

<hr>

<h3><strong>Local de Entrega:</strong></h3>
<table class="table table-striped">
    <tr>
        <th> Logradouro </th>
        <td>{{ end.logradouro }}, {{ end.nro }}</td>
    </tr>
    <tr>
        <th> Complemento </th>
        <td>{{ end.complemento }}</td>
    </tr>
    <tr>
        <th> Cidade </th>
        <td>{{ end.cidade }}</td>
    </tr>
    <tr>
        <th> Estado </th>
        <td>{{ end.estado }}</td>
    </tr>
    <tr>
        <th> CEP </th>
        <td>{{ end.cep }}</td>
    </tr>
</table>

<hr>

<h3><strong>Pedido:</strong></h3>
<table class="table table-striped">
    <tr>
        <th></th>
        <th> Evento </th>
        <th> Quantidade </th>
        <th> Preço Unitário </th>
        <th> Total </th>
    </tr>

    {% for item in request.session.carrinho.items %}
        <tr>
            <td><img src="{{ MEDIA_URL }}{{ item.evento.thumb }}"/></td>
            <td>{{ item.evento.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ item.preco }}</td>
            <td>R$ {{ item.subtotal }}</td>
        </tr>
    {% endfor %}
    <tr><td colspan="5"><strong>Total:</strong> R$ {{ request.session.carrinho.total }}</td></tr>
</table>

<br>
<a href="{% url 'catalogo' %}" class="btn">Continuar comprando</a>
<input type="submit" style="cursor:pointer;" class="btn btn-success" value="Confirmar">

</form>

{% endblock %}