{% extends "tt/base.html" %}

{% block title %}{{ object }} - Catálogo - {{ block.super }}{% endblock %}

{% block content %}

    <h1>{{ object }}</h1>


<span><img class="img-polaroid" src="{{ MEDIA_URL }}{{ object.foto }}"/></span>

{{ object.descricao|linebreaks }}

<strong>Data: </strong>{{ object.data|date:"d/m/Y" }}
<br>
<strong>Local: </strong>{{ object.local }}

<div class="preco">
    {% with price=object.preco %}
        <strong>Preço: </strong>R$ {{ price }}
    {% endwith %}
</div>

<br>
<form method="post" action=".">
{% csrf_token %}
<table >
{{ form }}
</table>
<br>
<a class="btn " type="button" href="{% url 'catalogo' %}" >Continuar comprando</a>
<input type="submit" class="btn btn-primary" style="cursor:pointer;" value="Adicionar ao carrinho"/>
</form>

{% endblock %}
