{% extends "tt/base.html" %}

{% block title %}Autenticação - {{ block.super }}{% endblock %}

{% block content %}

    <h1>Informe suas credenciais:</h1><br>

    {% if form.errors %}
        <p>Usuário ou senha inválidos. Tente novamente</p>
    {% endif %}
    <div class="logintable">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}

            <table>
                <tr>
                    <td>Usuário</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Senha</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="Logar" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <a class="btn btn-primary" type="button" href="/cadastro/?next={{ next }}">Cadastrar uma conta</a>
    </div>

{% endblock %}